@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply overflow-x-hidden;
}

body {
    @apply w-full min-h-screen bg-basi-11;
    font-family: 'Poppins', sans-serif;
}

.container {
    @apply w-full max-w-[1285px] mx-auto px-6 lg:px-10;
}

/**
 *
 * *
 *
 */
 .feature-card {
    @apply hover:bg-basi-11 rounded-2xl px-6 py-8 border border-primary-1 border-opacity-0 cursor-default duration-300;
}

.feature-card .feature-card-header {
    @apply flex flex-col justify-center items-center text-basi-10 mb-4 uppercase font-medium text-center;
}

.feature-card .feature-card-text {
    @apply font-normal text-lg text-basi-11 text-center;
}

.feature-card:hover .feature-card-header {
    @apply text-primary-4;
}

.feature-card:hover .feature-card-text {
    @apply text-basi-4;
}

.banner-ilustration {
    @apply z-0 flex items-center justify-center relative w-[275px] h-[275px] lg:w-[400px] lg:h-[400px] rounded-full border-[3px] border-primary-4 border-dashed;
}

.banner-ilustration::after {
    content: '';
    @apply absolute z-0 w-[200px] h-[200px] lg:w-[300px] lg:h-[300px] rounded-full border-[3px] border-primary-4;
}

.banner-ilustration>.hightlight {
    @apply cursor-default w-full max-w-[250px] shadow-lg px-6 py-3 rounded-lg absolute z-40 bg-basi-11 bg-opacity-95 flex items-center;
}

.banner-ilustration>.hightlight>.icon {
    @apply mr-5 text-5xl text-primary-4;
}

.banner-ilustration>.hightlight>span {
    @apply text-base font-medium text-basi-3 text-opacity-75;
}

.circle-decoration {
    @apply hidden opacity-5 w-[725px] h-[725px] border-4 border-dashed border-primary-1 absolute rounded-full pointer-events-none;
}

.circle-decoration::after {
    content: '';
    @apply w-[575px] h-[575px] top-[75px] border-4 border-primary-1 absolute rounded-full;
}

.circle-on-left {
    @apply left-0 -translate-x-3/4 top-0;
}

.circle-on-left::after {
    @apply left-[75px];
}

.circle-on-right {
    @apply right-0 translate-x-2/4 top-12;
}

.circle-on-right::after {
    @apply right-[75px];
}